<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
</head>
<body>
    <h1>Notif System</h1>
    <div id="notif"></div>

    <script>
        const ws = new WebSocket('ws://localhost:8000/ws/notifications/')

        ws.onmessage = (event) => {
            const data = JSON.parse(event.data)
            const notifConatiner = document.getElementById('notif')

            const newNotif = document.createElement('h3')
            newNotif.textContent = data.message

            notifConatiner.append(newNotif)
        }

        ws.onopen = ()=>{
            console.log("Connected")
        }

        ws.onclose = ()=>{
            console.log("Disconnected")
        }
    </script>
</body>
</html>